.accordian {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.accordian button{
    background-color: #9b4444;
    padding: 1rem;
    color: white;
    border: none;
    border-radius: .3rem;
}

.accordian-item {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9b4444;
  color: white;
  padding: .3rem;
  transition: background-color 0.5s ease-in-out;
}
.accordian-item:hover {
  cursor: pointer;
  background-color: #474f7a;
}
.title {
  display: flex;
  justify-content:space-around;
  align-items: center;
  /* flex-direction: column; */
  width: 350px;
  padding: 5px;
}
